.brand {
  font-weight: bold;
  font-size: 30px !important;
  letter-spacing: 2px;
  color: white !important;
  font-family: "Sriracha", cursive;
}

nav {
  background-color: #d63031 !important;
}

.jumbotron {
  width: 80%;
  margin-top: 20%;
  padding: 2%;
  margin-left: 10%;
  color: #e9ecef !important;
  background-color: rgba(0, 0, 0, 0.87) !important;
}

.form-control {
  background-color: #474747e7 !important;
  color: azure !important;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.cover {
  width: 100%;
  height: 100vh;
  background: url(../images/img6.jpeg) no-repeat 50% 50%;
  background-size: cover;
}

#containerIntro h1,
#containerIntro p {
  display: inline;
  vertical-align: top;
}
