.brand {
  font-weight: bold;
  font-size: 30px !important;
  letter-spacing: 2px;
  color: white !important;
  font-family: "Sriracha", cursive;
}

nav {
  background-color: #d63031 !important;
}

/* This Style is for HotelCard Page  */

.container {
  width: 80%;
  margin-top: 10%;
  background-color: rgb(242, 242, 245);
  margin-bottom: 5%;
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-img-top {
  height: 150px;
  widows: 200px;
  background-color: gray;
}

.card-title {
  margin-bottom: 0px;
}

.light {
  color: rgb(176, 176, 177);
}
